
body {
  font-family: "Share Tech Mono", monospace;
  color: #100f0d;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

p {
  margin-bottom: 1.6em;
  text-align: justify;
}



.main__container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}


.header {
  background: #100f0d;
  color: white;
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


.main__container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;

}

.header a {
  color: #42FF33;
  text-decoration: none;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.0em;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__navegacion ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navegacion ul li {
  display: inline-block;
}

.header__navegacion ul li a {
  display: block;
  padding: 0.5rem 1em;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.header__navegacion ul li a :hover {
  background: #24f2ff;
}

.main {
  padding: 0.2rem;
}

.banner {
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: #100f0d;
}

.banner__imagen {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 500px;
  min-width: 400px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
  max-width: 700px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #42FF33;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  max-width: 700px;
  align-content: center;

}

form.example button:hover {
  background:#100f0d
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.main__galeria {

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.galeria {

  width: 70%;
  padding: 20% 20%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.contenedor__galeria {

  padding: 20%;
  margin: 20px;
  display: inline-block;
  justify-content: center;

}

.imagen {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 5px solid #42FF33;

}

.container__soymype {

  display: inline;
}

.soymype__titulo {
  text-align: center;
}

.soymype__imagen {
  display: inline;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 5px solid #100f0d;
}

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


.soycliente__titulo {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #42ff33;
  color:#100f0d;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#100f0d;
}

/* Add a background color and some padding around the form */
.formulario {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.footer {
  background-color: #100f0d;
  padding: 1.5rem 0;
  color: #42FF33;
  text-align: center;
  left: 0;
}
/*# sourceMappingURL=main.css.map */